@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  padding: 20px 0;

  border-bottom: 1px solid #5b969e;
  margin-bottom: 60px;
}

.header .logo .logo-link {
  color: #1a707b;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 10px;
}
.header .logo .logo-link span {
  color: #1a707b;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 10px;
  text-decoration: line-through rgb(157, 157, 167);
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #66717c;
  font-weight: 200;
  font-size: 1rem;
}

.account {
  background-color: #d3ddde;
  margin: 10px 0;
  padding: 40px 0 40px;
  border-radius: 10px;
  position: relative;
}

.account-input {
  padding: 5px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 25px;
  font-family: inherit;
}

.account-title-span {
  font-size: medium;
  margin-bottom: 10px;
}
.account-id {
  font-size: medium;
  margin-bottom: 10px;
  color: rgb(116, 116, 116);
}
.account-id-2 {
  font-size: small;
  margin-bottom: 10px;
}

.balance-btn-1 {
  margin-left: 5%;
  padding: 0.5em 1em;
  border: none;
  background-color: #ad6588;
  color: #fff;
  border-radius: 20px;
  transition: all ease 0.5s;
}
.balance-btn-1:hover {
  transform: scale(0.98);
  background-color: #974e72;
}

.balance-btn-2 {
  margin-left: 5%;
  padding: 0.5em 1em;
  border: none;
  background-color: #6595ad;
  color: #fff;
  border-radius: 20px;
  transition: all ease 0.5s;
}
.balance-btn-2:hover {
  transform: scale(0.98);
  background-color: #446f85;
}

.balance-btn-2:hover {
  transform: scale(0.98);
}
.account .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 25px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  font-weight: 100;
  font-size: small;
  color: #555;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #65a7ad;
  border-radius: 25px;
  background: #65a7ad;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  letter-spacing: 0.6rem;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
}
.btn:hover {
  transform: scale(0.98);
  background: #528e93;
  letter-spacing: 0.55rem;
}

.logout-btn {
  padding: 10px 30px;
  background-color: #ad6588;
  border: none;
}
.logout-btn:hover {
  background-color: #93496d;
}
.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
